/* Прописуємо та задаємо значення для основних кольорів тексту та фону */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --section-title-text: #212121;
  --primary-bg-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --hero-btn-hover-color: #188ce8;
}
/* Прописуємо box-sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Задаємо основні кольори,шрифт та розмір для документа
 !!! - не впливає на button,addres */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ширина контенту 1170px */
/* ширина датеру справа-зліва15px*2 */
/* 1200 */

/* Клас для скриття заголовків */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Онуляємо маркер списків в документі */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* ---HEADER--- */
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  border: 2px solid tomato;
}
/* logo */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
/* site-nav */
.main-nav{
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  border: 2px solid tomato;
}
/* Ставимо відступи в навігації між силками окрім першої та останьої */
.site-nav .item+.item{
  margin-left: 50px;
}
.site-nav .link {
  color: var(--section-title-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--accent-color);
}
/* contact */
.test-flex{
  display: flex;
}
.contacts .item {
  border: 2px solid tomato;
}
.contacts .item+.item{
  margin-left: 50px;
}
.contacts .contacts-link {  
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}

/* ---MAIN---STUDIO */

/* hero */
.hero {
  margin-top: 0;
  margin-bottom: 0;
  
  background-color: var(--hero-footer-bg-color);
  text-align: center;
  /* height: 600px; */
  /* width: 1600px; */
}
.hero-text {
  margin-top: 0;
  margin-bottom: 30px;
  
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-hover-color);
}
/* strange */
.strange-title,
.strange-title-text {
  color: var(--section-title-text);
}
.strange-title {
  margin-top: 0;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.strange-title-text {
  margin-top: 0;
  margin-bottom: 10px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list p {
  margin-top: 0;
  margin-bottom: 10px;
}
/* work */
.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  
  color: var(--section-title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* team */
.team {
  background-color: var(--section-bg-color);
}
.team-title,
.team-title-text {
  color: var(--section-title-text);
}
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-title-text {
  margin-top: 0;
  margin-bottom: 10px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-img {
  margin: 0;
}

/* ---MAIN---PORTFOLIO */

.projects-btn {
  color: var(--section-title-text);
  background-color: var(--section-bg-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;

  display: inline-block;
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 128px;
  border-radius: 4px;
}
.projects-btn:hover,
.projects-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--section-title-text);
  text-decoration: none;
}
.projects-title-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.projects-title:hover,
.projects-title:focus,
.projects-title-text:hover,
.projects-title-text:focus {
  color: var(--accent-color);
}
/* не розумію-чому не спрацьовує??? */
.project-cards {
  text-decoration: none;
}
/* ---FOOTER---*/

.footer {
  background-color: var(--hero-footer-bg-color);
}
/* logo */
.logo-web-footer {
  margin-top: 0;
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/* contacts */
.addres {
  margin-top: 0;
  font-style: normal;
}
.addres-map {
  margin-top: 0;
  color: var(--secondary-text-color);
}
.addres-map:hover,
.addres-map:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.addres-map,
.footer-contacts {
  margin-top: 0;
  line-height: 1.71;
  text-decoration: none;
}
.footer-contacts {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
}
